.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.formApp {
  margin-top: 10em;
}

.inputForm {
  margin: 0 auto 1em;;
}

li {
  list-style-type: none;
}

.filters {
  width: 9%;
}

.filters li {
  padding: .35em;
  margin-bottom: 2px;
  background-color: #92a2a3;
  color: white;
}

.timer {
  display: block;
  text-align: center;
  margin: -5em auto 0;
  width: 60px;
  border: 1px solid black;
}

.hint {
  float: right;
  border: 1px solid black;
  padding: .5em;
  margin:15em -7em 0;
}

.score {
  float: right;
  margin: 4em 10em 0 0;
}
